{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "require": [
        "ts-node/register"
    ],
    "report-dir": "coverage",
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/macros/**",
        "src/styles/**",
        "src/templates/**"
    ]
}
