<section id="rtlb-main-content" class="rtlb-interface">
    <form class="rtlb-interface-form">
        {{>(this.partials.header)}}
        <main>
            {{>(this.contentPartial)}}
        </main>
        {{>(this.partials.footer)}}
    </form>
</section>
