<section id="rtlb-running-content" class="rtlb-interface">
    <form class="rtlb-interface-form">
        {{>(this.partials.header)}}
        <main>
            <h2>{{localize 'RTLB.Running.Title'}}</h2>
            <BR><BR>
            <ul>
                {{#each this.tables}}
                    <li>{{this.[0]}}{{#if (ne this.[1] 'all')}} - {{this.[1]}}{{/if}}</li>
                {{/each}}
            </ul>
        </main>
        {{>(this.partials.footer)}}
    </form>
</section>
