<header>
    <img class="{{this.meta.name}}-logo" alt="RPG.Tools Logo" src="/modules/{{this.meta.name}}/svg/rpg-tools-logo-letters-combined.svg">
    <h1><img class="{{this.meta.name}}-icon" alt="Logistics Boy Icon" src="/modules/{{this.meta.name}}/svg/hand-truck.svg"> LogisticsBoy</h1>
</header>
