<div class="list-widget">
    {{localize 'RTLB.Select'}}:
    <a
            class="module-control rtlb-action rtlb-link"
            data-action="select-all"
    >
        {{localize 'RTLB.All'}}
    </a> /
    <a
            class="module-control rtlb-action rtlb-link"
            data-action="select-default"
    >
        {{localize 'RTLB.Default'}}
    </a> /
    <a
            class="module-control rtlb-action rtlb-link"
            data-action="select-none"
    >
        {{localize 'RTLB.None'}}
    </a>
</div>
