.display-none {
    display: none !important;
}
button.disabled {
    cursor: default;
    &:hover {
        box-shadow: none;
    }
}

.rtlb-interface {
    --header-height: 75px;
    --icon-size: 40px;
    --border-color: #a60303;
    height: 100%;
    form {
        display: grid;
        grid-template-rows: var(--header-height) auto 102px;
        h2, h3 {
            border-color: var(--border-color);
        }
        header {
            position: relative;
            padding-left: 8px;
            padding-right: 16px;
            background-color: black;
            img.rtlb-logo {
                height: var(--header-height);
            }
            img.rtlb-icon {
                height: var(--icon-size);
                position: absolute;
                top: calc(((var(--header-height) - var(--icon-size))/2) - 2px);
                right: 16px;
            }
            h1 {
                float: right;
                color: white;
                height: var(--header-height);
                line-height: var(--header-height);
                text-align: center;
                vertical-align: middle;
                border-bottom: 0;
                margin-right: calc(var(--icon-size));
            }
        }
        main {
            border-bottom: 1px solid var(--border-color);
            margin: 16px 8px 16px 8px;
            .list-widget {
                padding-left: 16px;
            }
            ul.rtlb-checkbox-list {
                list-style-type: none;
                padding-left: 16px;
                li {
                    display: inline-block;
                    margin-right: 16px;
                    margin-bottom: 16px;
                    border: 1px solid rgba(175,175,175,0.75);
                    background-color: rgba(200,200,200,0.5);
                    border-radius: 4px;
                    padding: 4px 8px 4px 8px;
                    label {
                        display: inline-block;
                        padding-right: 10px;
                        white-space: nowrap;
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            span {
                                display: block;
                                &.rtlb-label-title {
                                    font-size: 18px;
                                    font-weight: 900!important;
                                    font-variant: small-caps;
                                }
                                &.rtlb-label-description {
                                    font-size: 12px;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                    input {
                        vertical-align: middle;
                    }
                    &.rtlb-heading {
                        display: grid;
                        position: relative;
                        grid-template-columns: auto 25px;
                        a.right-drop {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
                > ul li {
                    label {
                        span {
                            span {
                                display: block;
                                &.rtlb-label-title {
                                    font-size: 16px;
                                    font-weight: 700!important;
                                }
                            }
                        }
                    }
                }
            }
            ul.rtlb-progress-list {
                list-style-type: none;
            }
        }
        footer {
            align-self: center;
            justify-self: center;
            padding: 34px;
            button {
                max-width: 250px;
            }
        }
    }

}
