.rtlb-interface {
    form.rtlb-config-sources-form {
        main {
            ul.rtlb-checkbox-list {
                li {
                    width: 390px;
                    font-size: 14px;
                    font-weight: 900!important;
                }
            }
        }
    }
}
