.rpg-tools-logistics-boy-interface {
    form.rpg-tools-logistics-boy-config-sources-form {
        main {
            ul.rpg-tools-logistics-boy-checkbox-list {
                li {
                    width: 390px;
                    font-size: 14px;
                    font-weight: 900!important;
                }
            }
        }
    }
}
