#rpg-tools-logistics-boy-open-app-button {
    position: relative;
    .rpg-tools-logistics-boy-open-app-icon {
        position: absolute;
        height: 24px;
        width: 24px;
        border: 0;
    }
    span {
        padding-left: 24px;
    }
}
