#rtlb-open-main-interface-button {
    position: relative;
    .rtlb-open-main-interface-icon {
        position: absolute;
        height: 24px;
        width: 24px;
        border: 0;
    }
    span {
        padding-left: 24px;
    }
}
